@font-face {
    font-family: "Cerebri Sans Pro";
    src: url(fonts/CerebriSansPro-Heavy.ttf);
    font-weight: 900;
}

@font-face {
    font-family: "Cerebri Sans Pro";
    src: url(fonts/CerebriSansPro-ExtraBold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: "Cerebri Sans Pro";
    src: url(fonts/CerebriSansPro-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Cerebri Sans Pro";
    src: url(fonts/CerebriSansPro-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "Cerebri Sans Pro";
    src: url(fonts/CerebriSansPro-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "Cerebri Sans Pro";
    src: url(fonts/CerebriSansPro-Regular.ttf);
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Cerebri Sans Pro";
    box-sizing: border-box;
}

body {
    max-width: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.header-upper {
    width: 100%;
    min-height: 47px;
    background-color: #2A2A2A;
    display: flex;
    justify-content: center;
    gap: 399px;
    align-items: center;
}

#light-logo {
    display: none;
}

.header-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-info p {
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.email-info {
    display: flex;
    justify-content: center;
    gap: 6px;
    align-items: center;
    margin-right: 17px;
}

.email-info img {
    width: 24px;
    height: 24px;
}

.email-info a {
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

.email-info a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.header-info > p {
    margin-left: 20px;
}

.header-other {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.socials {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.socials > img {
    width: 18px;
    height: 18px;
}

.language {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 40px;
    margin-right: 20px;
}

.language-flag {
    width: 27px;
    height: 14px;
}

.language > p {
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 9px;
}

.language-more {
    width: 18px;
    height: 18px;
    margin-left: 6px;
}

.login {
    display: flex;
    justify-content: flex-start;
    gap: 6px;
    align-items: center;
    margin-left: 20px;
}

.login > img {
    width: 24px;
    height: 24px;
}

.login > p {
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.header-main {
    width: 1140px;
    min-height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-main > img {
    width: 182px;
    height: 34px;
    
    align-self: flex-end;
    margin-bottom: 30px;
}

.header-main nav {
    margin-left: 111px;
    display: flex;
    justify-content: space-between;
    gap: 43px;
    align-items: center;
}

.header-main nav a {
    margin-top: 3px;
    color: #2A2A2A;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.header-main nav a:hover {
    color: #000000;
    text-decoration: underline;
    cursor: pointer;
}

.header-main nav #link-1 {
    color: #7FAD39;
    font-weight: 800;
}

.shopping {
    margin-left: 236px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.shopping-buttons {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    align-items: center;
}

.favorites {
    background-image: url(images/header/favorite_icon.svg);
    width: 24px;
    height: 24px;
    position: relative;
}

.shopping-cart {
    background-image: url(images/header/cart_icon.svg);
    width: 24px;
    height: 24px;
    position: relative;
}

.amount {
    position: absolute;
    left: 15px;
    top: -5px;
    width: 14px;
    height: 14px;
    border-radius: 50px;
    border: 1px solid #FFF;
    background: #7FAD39;
    display: flex;
    justify-content: center;
    align-items: center;
}

.amount p {
    width: 8px;
    height: 9px;
    color: #FFF;
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.price {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.price p {
    color: #999;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.price .price-amount {
    color: #2A2A2A;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

main {
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.main-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
    align-content: space-between;
    row-gap: 17px;
}

.dropdown-menu {
    max-height: 50px;
    margin-top: -2px;
    margin-left: 4px;
    padding: 13px 20px;
    background: #7FAD39;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.dropdown-menu:hover {
    cursor: pointer;
    background: #5a7b28;
}

.dropdown-menu img {
    width: 24px;
    height: 24px;
}

.dropdown-menu p {
    margin-left: 20px;
    margin-right: 39px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.search {
    max-height: 50px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    padding-left: 20px;
    border: 1px solid rgba(42, 42, 42, 0.20);
}

.search-categories {
    display: flex;
    justify-content: flex-start;
    gap: 22px;
    align-items: center;
}

.search-categories p {
    color: #2A2A2A;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.search-categories img {
    width: 24px;
    height: 24px;
}

.search input {
    width: 252px;
    height: 20px;
    text-align: left;
    border: none;
}

.search input::placeholder {
    color: #999;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.search-button {
    width: 106px;
    min-height: 50px;
    padding: 0px 20px 0px 19px;
    margin-left: 24px;
    border: none;
    background: #7FAD39;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.search-button:hover {
    cursor: pointer;
    background: #5a7b28;
}

.support {
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.support .image-container {
    padding: 13px;
}

.support .image-container img {
    width: 24px;
    height: 24px;
}

.support-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.support-info a {
    color: #2A2A2A;
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: 20px;
}

.support-info a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.support-info p {
    color: #999;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.main-section aside {
    padding: 22px 91px 22px 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0px;
    align-items: flex-start;
    border: 1px solid rgba(42, 42, 42, 0.20);
}

.main-section aside a {
    color: #999;
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
}

.main-section aside a:hover {
    color: #535353;
    text-decoration: underline;
    cursor: pointer;
}

.banner {
    width: 860px;
    padding: 42px 0px 43px 96px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: #F5F5F5;
    align-self: stretch;
}

.banner-content {
    padding-top: 42px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 54px;
    align-items: flex-start;
}

.banner-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    align-items: flex-start;
}

.banner-category {
    color: #7FAD39;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 3.2px;
}

.banner-title {
    color: #2A2A2A;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 50px;
}

.banner-description {
    color: #999;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.banner-button {
    display: flex;
    width: 141px;
    height: 50px;
    padding: 0px 20px;
    justify-content: center;
    align-items: center;
    background: #7FAD39;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.banner-button:hover {
    cursor: pointer;
    background: #5a7b28;
}

.banner img {
    background: lightgray -41.337px -38px / 115.424% 115.73% no-repeat;
    mix-blend-mode: darken;
    overflow: hidden;
}